configuration {
  modes: "";
  font: "CaskaydiaCove Nerd Font 12";
  show-icons: false;
  sorting-method: "normal";
  case-sensitive: false;
  case-smart: true;
  timeout {
    action: "kb-cancel";
    delay:  0;
  }
  filebrowser {
    directories-first: true;
    sorting-method:    "name";
  }
}

@import "theme.rasi"
